.navbar {
    background-color: #EEEDE8;
    height: 3rem;
    /* width: 98vw; */
    margin-left: 35px;
    margin-right: 35px;
}
.nav-menu {
    /* margin-top: 2rem; */
}
.nav-bottom {
    margin-bottom: 1rem;;
}
.nav-links {
    color: #545454;
    font-family: 'Crushed', cursive;
    font-size: 2rem;
}
hr {
    color: #545454;
    margin-top: 1rem;
    width: 98vw;
}