.navbar {
    display: flex;
    background-color: #EEEDE8;
    height: 3rem;
    margin: 10px 35px 0 35px;
    justify-content: center;
    max-width: 90%;
}
.nav-menu {
    margin-top: 2rem;

    
}
.nav-bottom {
    margin-bottom: 1rem;
   
}
.nav-links {
    color: #545454;
    font-family: 'Crushed', cursive;
    font-size: 2rem;
    list-style-type: none;

}
.nav-items {
    height: 3rem;
}
   
hr {
    color: #545454;
   align-self: center;
   justify-self: center;
    width: 80vw;
    margin-top: 2rem;
}