.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-color: #EEEDE8;
    /* width: 98vw; */
    margin-right: 35px;
    margin-left: 35px;
}
img {
    height: 35vh;
    width: 60vw;
    margin-top: 7rem;
    margin-bottom: 2rem;;
}

.title {
    color: #545454;
    font-family: 'Crushed', cursive;
}
.title-container {
  
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.title-num {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5rem;
  
}

h2 {

    font-size: 3rem;  
}

p {
    font-size: 2rem;
}
hr #hr .hr-container {
    margin-top: 2rem;
    width: 30rem important!;
}