.about-container {
    height: 85vh;
    margin: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    
}
.wrapper {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #545454;
    font-family: 'Crushed', cursive;
}
h1 {
    font-size: 5rem;
}
.about-wrapper {
    display: flex;
    flex-direction: column;
    color: #545454;
    font-family: 'Crushed', cursive;
}
h3 {
    font-size: 3rem;
}
p {
    font-size: 2rem;
}
li {
    font-size: 2rem;
}
.about-table {
    display: flex;
    background-color: #f4f8f9;
}
.about-list li {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
  
}
.butterfly {
    height: 12rem;
    width: 12rem;
    margin-right: 6rem;
    margin-top: 15rem;
}
.contact {
    margin-top: 1rem;
    font-size: 2rem;
    color: #545454;
    font-family: 'Crushed', cursive;
    word-spacing: 5pt;
}